.team {
    display: flex;
    align-items: center;
    gap: 35px;
    position: absolute;
    text-align: center;
}

.zaglavie{
    position: absolute;
    top:10%;
    left:50%;
    border: none;
    transform: translate(-50%,-50%);
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
    color: ghostwhite;
    padding-left: 20px;
    padding-right: 20px;


}